/**/
@charset "utf-8";

* { padding: 0; margin: 0;   -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box; }

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,  
form,fieldset,input,textarea,p,blockquote,th,td {
	padding: 0;
	margin: 0;
	border-collapse: 0;
	
}  
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    border: 0 none;
    font: inherit;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}
table {
	border-collapse: collapse;
	border-spacing: 1;
}  
fieldset,img {  
border: 0;  
vertical-align:middle;
}  
 
ol,ul {  
list-style: none;
margin:0px;
padding:0px;
}  
caption,th {  
text-align: left;  
}  
h1,h2,h3,h4,h5,h6 {  
font-size: 100%;  
font-weight:normal;
}
a{ color:#999999;text-decoration:none; border:none;}
a:hover{ cursor:pointer;outline:none}
body{font-size:16px; color:#999999;  background:#fffcf4;position:relative;}
input,button,select,textarea{outline:none;background:none;border:none;}  

textarea{resize:none} 
.clearfix:after {
clear: both;
content: '.';
display: block;
height: 0px;
overflow: hidden;
visibility: hidden;
}


*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
body, h1, p, table, tr, td {
    margin: 0;
    padding: 0;
}

img {max-width:100%;}
body,html {width:100%;position:relative;-webkit-user-select:none;-moz-user-select:none;/*禁止双击页面选中文本*/
overflow: hidden; text-align: center;height: 100%; }


.moild {width:100%;height:auto;}
.moild ul {width:100%;height:auto;list-style: none;text-align: center;}
.moild ul li {width: 300px;height:auto;display: inline-block;*display: inline;;zoom: 1;}
.moild ul li .IMG {width:100%;height:200px;}
.moild ul li .ghub {width:100%;height:auto; line-height: 20px; color: #000;font-size: 18px;}
.moild ul li .jimu {width:70%;height:40px;line-height: 40px; color: #000;font-size: 18px;display:inline-block;background:red; color:#fff;}

#model {width: 80px;position:fixed;z-index:9999;right: 0;top: 0; background:#3f3313;height: 100%;}
#model::before {clear: both;content: '.';display: block;width:28px;height: 35px;background:url(../img/befout.png); position: absolute;top: 0;left: 0;}
#model::after {clear: both;content: '.';display: block;width:28px;height: 35px;background:url(../img/beatf.png); position: absolute;bottom: 0;left: 0;}
.hezi {width:50px;height:50px; background: #000000; border-radius:100%;position: absolute;top: 50%;margin-top:-25px ;left: -50%;margin-left: 10px; text-align: center; line-height: 50px;font-size: 16px; color: #fff;}
#succh {width:200px;height:45px; border: 1px solid #000000; position:fixed;top:50%;margin-top: -40px;left: 50%; margin-left:-100px ; line-height: 45px;font-size: 20px; font-weight: 600;color: #000;}
